record(ao, "$(P)$(R)TargetCurrent$(ORIENTATION)-SP") {
    field(DESC, "Desired coil current setpoint")
    field(EGU, "A")
    field(OUT, "$(P)$(R)TargetCurrent$(ORIENTATION)-RB PP")
}

record(ai, "$(P)$(R)TargetCurrent$(ORIENTATION)-RB") {
    field(DESC, "Desired coil current setpoint")
    field(EGU, "A")
}

record(calcout, "$(P)$(R)RampCalc$(ORIENTATION)") {
    field(DESC, "Ramp the setpoint to a target value")

    field(SDIS, "$(P)$(R)Writing-Sts")
    field(DISV, 0)

    field(INPA, "$(P)$(HW_SP)Current-SP")
    field(INPB, "$(P)$(R)CurrentStep-RB")
    field(INPC, "$(P)$(R)TargetCurrent$(ORIENTATION)-RB")

    field(SCAN, "1 second")
    field(CALC, "A != C")
    field(OCAL, "(C<(A-B)) ? (A-B) : ((A+B)>C ? C : (A+B))")

    field(OUT, "$(P)$(HW_SP)Current-SP PP")
    field(OOPT, "When Non-zero")
    field(DOPT, "Use OCAL")
}
